# Arquivos de build e distribuição
/build/
/target/

# Maven Wrapper
.mvn/
!mvn/wrapper/maven-wrapper.jar

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Arquivos de ambiente e configs sensíveis
.env

# Logs
*.log

# Arquivos compilados
*.class

# BlueJ
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Arquivos empacotados
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*
