# Arquivos de build e distribuição
/build/
/target/

# Maven Wrapper
.mvn/
!mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse / Spring Tool Suite (STS)
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Arquivos de ambiente e configs sensíveis
.env

# Logs
*.log
